<ul>
  <li><a href="#/examples/01">Example 01 - Two Way Data Binding</a></li>
  <li><a href="#/examples/02">Example 02 - Scopes</a></li>
  <li><a href="#/examples/03">Example 03 - Angular Directives (ng-show, ng-hide, ng-if, etc...)</a></li>
  <li><a href="#/examples/04">Example 04 - Modules, type and bootstrapping</a></li>
  <li><a href="#/examples/05">Example 05 - Controller, creating method</a></li>
  <li><a href="#/examples/06">Example 06 - Factory, listing tasks via $http</a></li>
  <li><a href="#/examples/07">Example 07 - Directive, a simple directive</a></li>
</ul>
