<div class="clearfix">
  <form class="form-horizontal" action="">
    <div class="form-group">
      <div class="col-lg-7 col-md-7 col-sm-8 col-xs-5">
        <input type="text" class="form-control" placeholder="Task title...">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Task label...">
          <span class="input-group-addon">
            <input type="color">
          </span>
        </div>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-12">
        <input class="btn btn-success btn-block" value="Add Task" type="submit">
      </div>
    </div>
  </form>
</div>

<ul class="list-group">
  <li class="list-group-item">
    <div class="btn-group pull-right">
      <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-ok"></i></button>
      <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></button>
      <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
    </div>
    <span>Cras justo odio</span>
    <span class="label label-info">Overdue!</span>
  </li>
  <li class="list-group-item">
    <div class="btn-group pull-right">
      <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-ok"></i></button>
      <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></button>
      <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
    </div>
    <span>Cras justo odio</span>
    <span class="label label-success">Overdue!</span>
  </li>
  <li class="list-group-item">
    <div class="btn-group pull-right">
      <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-ok"></i></button>
      <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></button>
      <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
    </div>
    <span>Cras justo odio</span>
    <span class="label label-warning">Overdue!</span>
  </li>
  <li class="list-group-item">
    <div class="btn-group pull-right">
      <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-ok"></i></button>
      <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></button>
      <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
    </div>
    <span>Cras justo odio</span>
    <span class="label label-danger">Overdue!</span>
  </li>
  <li class="list-group-item">
    <div class="btn-group pull-right">
      <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-ok"></i></button>
      <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></button>
      <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
    </div>
    <span>Cras justo odio</span>
    <span class="label label-default">Overdue!</span>
  </li>

</ul>
