<div class="clearfix">
  <form name="formAddTask" class="form-horizontal" ng-submit="addTask()" novalidate>
    <div class="form-group">
      <div class="col-lg-7 col-md-7 col-sm-8 col-xs-5">
        <input type="text" 
               name="taskTitle"
               ng-model="task.title" 
               class="form-control" 
               placeholder="Task title...">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
        <div class="input-group">
          <input type="text" 
                 name="taskLabelTitle"
                 ng-model="task.labelTitle" 
                 class="form-control" 
                 placeholder="Task label...">
          <span class="input-group-btn">
            <button dropdown data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
              <div class="label label-{{task.labelColor||'primary'}} color-block"></div>
            </button>
            <ul class="dropdown-menu dropdown-colors" role="menu">
              <li><span class="label label-success" ng-click="task.labelColor='success'"></span></li>
              <li><span class="label label-primary" ng-click="task.labelColor='primary'"></span></li>
              <li><span class="label label-warning" ng-click="task.labelColor='warning'"></span></li>
              <li><span class="label label-danger" ng-click="task.labelColor='danger'"></span></li>
              <li><span class="label label-info" ng-click="task.labelColor='info'"></span></li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-12">
        <input class="btn btn-success btn-block" value="Add Task" type="submit">
      </div>
    </div>
  </form>
</div>

<ul class="list-group">
  <li class="list-group-item" ng-repeat="item in tasks">
    <div class="btn-group pull-right">
      <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-ok"></i></button>
      <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></button>
      <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
    </div>
    <span>{{item.title}}</span>
    <span class="label label-{{item.labelColor}}">{{item.labelTitle}}</span>
  </li>
</ul>
