<div class="panel panel-info">
  <div class="panel-heading">
    <i class="glyphicon glyphicon-th-list"></i> My Tasks...
    <a ng-click="showAddTask=!showAddTask" class="pull-right btn btn-success btn-xs">
      <i class="glyphicon glyphicon-plus"></i> Add Task
    </a>
  </div>
    <div class="panel-body">

      <div class="clearfix" ng-show="showAddTask" ng-cloak>
        <form name="formAddTask" class="form-horizontal" ng-submit="addTask()" novalidate>
          <div class="form-group">
            <div class="col-lg-7 col-md-7 col-sm-8 col-xs-5">
              <input type="text"
                     name="taskTitle"
                     ng-model="task.title"
                     class="form-control"
                     placeholder="Task title...">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
              <div class="input-group">
                <input type="text"
                       name="taskLabelTitle"
                       ng-model="task.labelTitle"
                       class="form-control"
                       placeholder="Task label...">
                <span class="input-group-btn">
                  <button dropdown data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                    <div class="label label-{{task.labelColor||'primary'}} color-block"></div>
                  </button>
                  <ul class="dropdown-menu dropdown-colors" role="menu">
                    <li><span class="label label-success" ng-click="task.labelColor='success'"></span></li>
                    <li><span class="label label-primary" ng-click="task.labelColor='primary'"></span></li>
                    <li><span class="label label-warning" ng-click="task.labelColor='warning'"></span></li>
                    <li><span class="label label-danger" ng-click="task.labelColor='danger'"></span></li>
                    <li><span class="label label-info" ng-click="task.labelColor='info'"></span></li>
                  </ul>
                </span>
              </div>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-12">
              <input class="btn btn-success btn-block" value="Add Task" type="submit">
            </div>
          </div>
        </form>
      </div>

      <div class="block clearfix">
        <div class="pull-left input-group col-lg-4">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
          </span>
          <input name="search" ng-model="searchTask.$" type="search" class="form-control" placeholder="Search...">
        </div>
        <div class="btn-group pull-right">
          <a class="btn btn-default" ng-class="{active: status == ''}" ng-href="#/tasks">All</a>
          <a class="btn btn-default" ng-class="{active: status == 'active'}" ng-href="#/tasks/active">Active</a>
          <a class="btn btn-default" ng-class="{active: status == 'completed'}" ng-href="#/tasks/completed">Completed</a>
        </div>
      </div>

      <ul class="list-group">
        <li class="list-group-item" ng-class="{completed: item.completed}" ng-repeat="item in tasks | filter:searchTask.$ | filter:statusFilter">
          <form class="form-horizontal" ng-show="item.editing">
            <div class="form-group">
              <div class="col-lg-7 col-md-7 col-sm-8 col-xs-5">
                <input type="text"
                       name="taskTitle"
                       ng-model="item.title"
                       ng-keyup="cancelEdit($event, item)"
                       class="form-control"
                       placeholder="Task title...">
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
                <div class="input-group">
                  <input type="text"
                         name="taskLabelTitle"
                         ng-model="item.labelTitle"
                         ng-keyup="cancelEdit($event, item)"
                         class="form-control"
                         placeholder="Task label...">
                  <span class="input-group-btn">
                    <button dropdown data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                      <div class="label label-{{item.labelColor||'primary'}} color-block"></div>
                    </button>
                    <ul class="dropdown-menu dropdown-colors" role="menu">
                      <li><span class="label label-success" ng-click="item.labelColor='success'"></span></li>
                      <li><span class="label label-primary" ng-click="item.labelColor='primary'"></span></li>
                      <li><span class="label label-warning" ng-click="item.labelColor='warning'"></span></li>
                      <li><span class="label label-danger" ng-click="item.labelColor='danger'"></span></li>
                      <li><span class="label label-info" ng-click="item.labelColor='info'"></span></li>
                    </ul>
                  </span>
                </div>
              </div>
              <div class="col-md-2 col-lg-2 col-sm-12">
                <input class="btn btn-success btn-block" value="Update" type="submit" ng-click="doneEditingTask(item)">
              </div>
            </div>  
          </form>
          <div ng-show="!item.editing">
            <div ng-if="!item.completed" class="btn-group pull-right">
              <button class="btn btn-default btn-xs" ng-click="item.completed=!item.completed"><i class="glyphicon glyphicon-ok"></i></button>
              <button class="btn btn-default btn-xs" ng-click="editTask(item);"><i class="glyphicon glyphicon-pencil"></i></button>
              <button class="btn btn-default btn-xs" ng-click="removeTask(item)"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
            <div ng-if="item.completed" class="pull-right">
              <span class="label label-success">DONE!</span>
            </div>
            <span>{{item.title}}</span>
            <span class="label label-{{item.labelColor}}">{{item.labelTitle}}</span>
          </div>
        </li>
      </ul>

    </div>
  </div>

